%section
  .mx-auto.max-w-screen-xl.px-4.py-32.lg:flex.lg:h-screen.lg:items-center
    .mx-auto.max-w-xl.text-center
      %h4.text-2xl.font-extrabold.text-red-700.sm:block
        best place to find best car
      %p.mt-4.sm:text-xl.sm:leading-relaxed
        Welcome to our app! Here's a quick guide to help you get started.
        Searching for Cars:
        To find cars that meet specific criteria, simply enter your desired search criteria in the search page. You can search by make, model, year, price range or year range. Once you have entered your search criteria, click the "Search" button to see a list of cars that match your search.
        Viewing All Cars:
        If you'd like to browse all cars available on our platform, simply click the "Cars list" button on the navigation menu. This will take you to a page where you can view all cars registered on our platform.
      .mt-8.flex.flex-wrap.justify-center.gap-4
        = link_to "Cars list", cars_path, class: "block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
        = link_to "Back to home", root_path, class: "block w-full rounded px-12 py-3 text-sm font-medium text-red-600 shadow hover:bg-red-700 hover:text-white focus:outline-none focus:ring active:text-red-500 sm:w-auto"
