<div class="bg-cover bg-center h-screen w-full object-fill" style="background-image: url(assets/home-banner.jpg)">
  <div class="container flex flex-wrap mx-auto items-center h-screen">
    <h1 class="text-6xl font-bold">Paganel Cars</h1>
  </div>
</div>
