<div class="bg-cover bg-center h-screen w-full object-fill banner">
  <div class="flex w-32 ml-52 items-center h-screen banner-text">
    <h1 class="text-6xl font-bold">Paganel Cars</h1>
  </div>
</div>
