<% if @cars.any? %>
  <h1 class='text-center my-5 text-4xl'>Paganel Cars</h1>
  <%= render "sort_form" %>
  <%= render @cars %>

<div class="my-5 mx-auto w-full max-w-sm md:max-w-xl lg:max-w-2xl">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @cars %>
    </div>
    <div>
    <%= will_paginate @cars, :container => false, :page_links => false, class: "pages"  %>
  </div>
  </div>
</div>

<% else %>
  <h1 class='text-center my-5 text-4xl'>No cars have been added yet.</h1>
<% end %>
